<html>
  <head>
    <title>Sample HTML app</title>
    
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="style.css">

  </head>
  <body>

    <div id="homePage">
      <nav class="navbar navbar-default">
        <nav class="navbar navbar-expand-lg navbar-light">              
            <a class="navbar-brand" href="/index.html">Space X Information Site</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">                    
                <a class="nav-link" href="/history.html">History</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/falcon9.html">Falcon 9</a>
              </li>
              <li class="nav-item">
               <a class="nav-link" href="/falconheavy.html">Falcon Heavy</a>
               </li>
              <li class="nav-item">
                <a class="nav-link" href="/crewdragon.html">Crew Dragon</a>
              </li>
            </ul>
          </div>
        </nav>
      </nav>  
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/SpaceX_Crew_Dragon_%28More_cropped%29.jpg/295px-SpaceX_Crew_Dragon_%28More_cropped%29.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Design</h5>
            <p class="card-text">SpaceX was founded on May 6, 2002 by Elon Musk. Since then SpaceX has led private industry in the world of spaceflight.</p>
            <a href="https://www.thomasnet.com/articles/daily-bite/the-founding-of-spacex" class="btn btn-primary">Check out this article!</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img.newatlas.com/spacex-dragon-capsule-2.jpg?auto=format%2Ccompress&ch=Width%2CDPR&fit=crop&h=347&q=60&rect=92%2C0%2C1083%2C609&w=616&s=0b015bf39b7d2a6bdc2922e4397a1f12" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Upcomming Launch</h5>
            <p class="card-text">SpaceX was founded on May 6, 2002 by Elon Musk. Since then SpaceX has led private industry in the world of spaceflight.</p>
            <a href="https://www.space.com/42916-spacex-first-crew-dragon-spaceship-launchpad.html" class="btn btn-primary">Check out this article!</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>